// Cart
.cart-icon {
    display: flex;

    span {
        color: white;
    }
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;

    h2 {
        color: white;
    }

    hr {
        color: white;
    }

    .cart-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        padding: 10px;
        gap: 15px;

        .box-cart {
            display: flex;
            border: solid 2px white;
            width: 100%;

            img {
                width: 50%;
                height: 200px;
                object-fit: cover;
            }

            .cart-body {
                width: 100%;
                text-align: center;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: auto auto auto;
                grid-template-areas:
                                    'a1 a1'
                                    'a2 a2'
                                    'a3 a3'
                                    'a4 a5';
                
                .c1 {
                    color: white;
                    font-size: 20px;
                    grid-area: a1;
                }
                .c2 {
                    color: white;
                    font-size: 18px;
                    grid-area: a2;
                }
                .c3 {
                    grid-area: a3;
                    font-size: 18px;
                    color: white;
                }
                .c4 {
                    grid-area: a4;
                    color: rgb(0, 250, 0);
                    padding: 5px;
                }
                .c5 {
                    grid-area: a5;
                    width: 100%;
                    font-family: Caprasimo;
                    cursor: pointer;
                    background-color: rgb(240, 228, 228);
                    padding: 10px;
                    border: 2px solid rgb(15, 0, 148);
                }
            }
        }
    }

    .cart-total {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;


        div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: black;
            }

            button {
                width: 15%;
                padding: 10px;
                font-family: Caprasimo;
                cursor: pointer;
                background-color: rgb(240, 228, 228);
                border: 2px solid rgb(15, 0, 148);
                transition: 0.5s;
            }
        }
    }
}

// Checkout

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;

    h2 {
        color: white;
    }

    form {
        width: 70%;
        height: 500px;
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 10px;
        border: 2px solid white;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
                            'a1 a2'
                            'a3 a4'
                            'a5 a5';

        input {
            text-align: center;
            width: 60%;
            border-radius: 20px;
            height: 50px;
            background-color: rgb(240, 228, 228);
            padding: 10px;
            border: 2px solid rgb(15, 0, 148);
            font-family: Caprasimo;
        }

        button {
            width: 60%;
            border-radius: 20px;
            height: 50px;
            font-family: Caprasimo;
            cursor: pointer;
            background-color: rgb(240, 228, 228);
            padding: 10px;
            border: 2px solid rgb(15, 0, 148);
        }

        .f1 {
            grid-area: a1;
        }

        .f2 {
            grid-area: a2;
        }

        .f3 {
            grid-area: a3;
        }

        .f4 {
            grid-area: a4;
        }

        .f5 {
            grid-area: a5;
        }
    }
}

// Cuenta

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
    div {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 400px;
        gap: 20px;
    }
}